USE [master]
GO
/*Nombre: YASSEF DIDIER BATISTA GERONIMO Matricula: 20-EIIT-1-001 Seccion: 0541*/

CREATE DATABASE [laptopsolution]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PcSolution', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PcSolution .mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PcSolution _log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PcSolution _log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [laptopsolution].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [laptopsolution]
GO
/****** Object:  Table [dbo].[ClienteId]    Script Date: 30/04/2022 14:56:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClienteId](
	[ClienteId] [int] NOT NULL,
	[Nombre] [varchar](60) NULL,
	[Email] [varchar](70) NULL,
	[FacturaId] [int] NULL,
 CONSTRAINT [PK_ClienteId] PRIMARY KEY CLUSTERED 
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacturaId]    Script Date: 30/04/2022 14:56:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacturaId](
	[FacturaId] [int] NOT NULL,
	[Equipovendido] [varchar](60) NULL,
	[clienteId] [int] NULL,
	[InventarioId] [int] NULL,
 CONSTRAINT [PK_ProductoId] PRIMARY KEY CLUSTERED 
(
	[FacturaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GastosId]    Script Date: 30/04/2022 14:56:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GastosId](
	[GastosID] [int] NOT NULL,
	[nombre] [varchar](60) NULL,
	[montoapagar] [varchar](60) NULL,
 CONSTRAINT [PK_GastosId] PRIMARY KEY CLUSTERED 
(
	[GastosID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventarioId]    Script Date: 30/04/2022 14:56:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventarioId](
	[InventarioId] [int] NOT NULL,
	[Nombre] [varchar](60) NULL,
	[Cantidad] [varchar](50) NULL,
	[precio] [varchar](50) NULL,
	[Estadodelproducto] [varchar](50) NULL,
 CONSTRAINT [PK_AlmacenId] PRIMARY KEY CLUSTERED 
(
	[InventarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalId]    Script Date: 30/04/2022 14:56:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalId](
	[PersonalId] [int] NULL,
	[nombre] [varchar](60) NULL,
	[numero] [varchar](80) NULL,
	[puesto] [varchar](50) NULL,
	[sueldo] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
